
<%= form_for(@teach) do |f| %>
  <% if @teach.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teach.errors.count, "error") %> prohibited this teach from being saved:</h2>

      <ul>
      <% @teach.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :request, class:'form_lable' %><br>
    <%= f.text_area :request %>
  </div>
  <div class="field">
    <%= f.label :instructor_id, class:'form_lable' %><br>
    <%= select("teach", "user_id", @instr.collect {|r| [ r.name, r.id ] }, { :include_blank => true }, class: "form-control" )%>

  </div>
  <div class="field">
    <%= f.label :course_id, class:'form_lable' %><br>
    <%= f.text_field :course_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
