<style>
  body {background-color:#2E2F30;}
  h1   {color:white;}
  p    {color:white;}
</style>
<p id="notice"><%= notice %></p>

<p>
  <strong>Request:</strong>
  <%= @teach.request %>
</p>

<p>
  <strong>Instructor:</strong>
  <%= @teach.instructor %>
</p>

<p>
  <strong>Course:</strong>
  <%= @teach.course %>
</p>

<%= link_to 'Edit', edit_teach_path(@teach), class: "myButton"  %> |
<%= link_to 'Back', teaches_path, class: "myButton"  %>
