<p id="notice"><%= notice %></p>
<style>
  body {background-color:#2E2F30;}
  h1   {color:white;}
  p    {color:white;}
</style>

<p>
  <strong>Content:</strong>
  <%= @cmaterial.content %>
</p>

<p>
  <strong>Course:</strong>
  <%= @cmaterial.course %>
</p>

<%= link_to 'Edit', edit_cmaterial_path(@cmaterial), class: "myButton"  %> |
<%= link_to 'Back', cmaterials_path, class: "myButton"  %>
