<h2> Admin Homepage</h2>
<p id="notice"><%= notice %></p>


<br> <br>
<div>
  <h3>Admin Management</h3>
  <%= link_to 'New Admin', new_admin_path %>
  <br>
  <%= link_to 'Edit Profile', edit_admin_path(@admin) %>
  <br>
  <%= link_to 'View Admins', admins_path %>
</div>

<div>
  <h3>Course Management</h3>
  <%= link_to 'New Course', new_course_path %>
  <br>
  <%= link_to 'View Courses', course_path %>
  <br>
  <%= link_to 'Post grades', admins_path %>
</div>


<div>
  <h3>Instructor/Student Management</h3>
  <%= link_to 'New Instructor', new_instructor_path%>
  <br>
  <%= link_to 'View Instructors', instructor_path %>
  <br>
  <%= link_to 'New Student', new_student_path%>
  <br>
  <%= link_to 'View Student', student_path %>

</div>


<div>
Actions
</div>
<div>
Link to Edit Profile <br>
Admin Management <br>
  <ul>
    <li>Create Admin</li>
    <li>View Admins</li>
    <li>Delete Admins</li>
  </ul>
Course Management <br>
  <ul>
      <li>Create Course</li>
      <li>View Courses</li>
      <li>View Course details</li>
        <li>Edit Course details</li>
        <li>Delete details</li>
        <li>Post grades on behalf of instructor</li>
  </ul>

Instructor/Student Management <br>
  <ul>
    <li>Add/Remove Instructor</li>
      <li>Add/Remove Student</li>
      <li>View Course details</li>
      <li>Edit Course details</li>
      <li>Delete details</li>
  </ul>


</div>