<h2> Admin Homepage</h2>
<p id="notice"><%= notice %></p>


<br> <br>
<div>
  <style>
    body {background-color:#2E2F30;}
    h1   {color:white;}
    p    {color:white;}
  </style>
  <h3 color="white">Admin Management</h3>
  <br>
  <%= link_to 'New Admin', new_admin_path , class: "myButton" %>

  &nbsp
  <%= link_to 'Edit Profile', edit_admin_path(@admin), class: "myButton"  %>
  &nbsp
  <%= link_to 'View Admins', admins_path, class: "myButton"  %>
  <br>
  <br>
</div>

<div>
  <h3>Course Management</h3>
  <br>
  <%= link_to 'New Course', new_course_path, class: "myButton"  %>
  &nbsp
  <%= link_to 'View Courses', courses_path, class: "myButton" %>
  &nbsp
  <%= link_to 'Post grades', admins_path, class: "myButton"  %>
  <br>
  <br>
  <%= link_to 'Post grades', admins_path %>
</div>


<div>
  <h3 color="white">Instructor/Student Management</h3>
  <br>
  <%= link_to 'New Instructor', new_instructor_path, class: "myButton" %>
  &nbsp
  <%= link_to 'View Instructors', instructors_path, class: "myButton"  %>
  &nbsp
  <%= link_to 'New Student', new_student_path, class: "myButton" %>
  &nbsp
  <%= link_to 'View Students', students_path, class: "myButton"  %>
  <br>
  <br>

</div>

<!--

<div>
Actions
</div>
<div>
Link to Edit Profile <br>
Admin Management <br>
  <ul>
    <li>Create Admin</li>
    <li>View Admins</li>
    <li>Delete Admins</li>
  </ul>
Course Management <br>
  <ul>
      <li>Create Course</li>
      <li>View Courses</li>
      <li>View Course details</li>
        <li>Edit Course details</li>
        <li>Delete details</li>
        <li>Post grades on behalf of instructor</li>
  </ul>

Instructor/Student Management <br>
  <ul>
    <li>Add/Remove Instructor</li>
      <li>Add/Remove Student</li>
      <li>View Course details</li>
      <li>Edit Course details</li>
      <li>Delete details</li>
  </ul>


</div>-->
