
<h1>Instuctors Homepage</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @instructor.name %>

  &nbsp;
  <strong>Email:</strong>
  <%= @instructor.email %>
</p>

<div>
  <table class="table">
    <thead>
    <tr>
      <td>Number</td>
      <td>Title</td>
      <td>Description</td>
      <td>Starts On</td>
      <td>Ends on</td>
      <td>Status</td>
      <td>Details</td>
      <td>Enrollment/Grades</td>
      <td>Materials</td>
    </tr>
    </thead>

    <tbody>
    <%  @courses.each do |course| %>
        <tr>
          <%= params[:course_id] = course.id %>
          <td><%= course.number %></td>
          <td><%= course.title %></td>
          <td><%= course.description %></td>
          <td><%= course.startdate %></td>
          <td><%= course.enddate %></td>
          <td><%= course.status %></td>
          <td><%= link_to 'Details', displaycourse_path(course.id),class: "btn btn-sm btn-info" %></td>
          <td><%= link_to 'Enrollments/Grades', displayenrollmentforcourse_path(course.id),class: "btn btn-sm btn-info" %></td>
          <td><%= link_to 'Materials', new_cmaterial_path(:course_id=>course.id),class: "btn btn-sm btn-info" %></td>

        </tr>
    <% end %>
    </tbody>
  </table>

</div>

<%= link_to 'New Message', new_message_path, class: "myButton"  %>
<%= link_to 'Read Messages', messages_path, class: "myButton"  %>
<%= link_to 'New Request', '../messages/request/new', class: "myButton"  %>


