<style>
  body {background-color:#2E2F30;}
  h1   {color:white;}
  p    {color:white;}
</style>
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, class:'form_lable' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email, class:'form_lable' %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :type, class:'form_lable' %><br>
    <%= f.text_field :type %>
  </div>
    <div class="field">
    <%= f.label :password, class:'form_lable' %><br>
    <%= f.password_field :password %>
</div>
    <div class="field">
    <%= f.label :password_confirmation, "Confirmation", class:'form_lable' %> <br>
    <%= f.password_field :password_confirmation %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
