
<%= form_for(@enrollment) do |f| %>
  <% if @enrollment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@enrollment.errors.count, "error") %> prohibited this enrollment from being saved:</h2>

      <ul>
      <% @enrollment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :grade, class:'form_lable' %><br>
    <%= f.text_area :grade %>
  </div>
  <div class="form-group">
    <%= f.label :student_id, class:'form_lable' %><br>


    <%= select("enrollment", "user_id", @students.collect {|r| [ r.name, r.id ] }, { :include_blank => true }, class: "form-control" )%>
      </div>

  <div class="form-group">
    <%= f.label :course_id, class:'form_lable' %><br>
    <%= f.text_field :course_id %>
  </div>
    <div class="form-group">
      <%= f.label 'Enrollment Status (Check to Enroll/ Uncheck to Un-enroll Student)', class:'form_lable' %><br>
      <%= f.check_box :estatus %>
    </div>
  <div class="actions">
     <%= f.submit "Submit", class: "myButton" %>
  </div>
<% end %>
