<h2> Course Enrollment Details Page</h2>
<p id="notice"><%= notice %></p>


<p>
  <strong>Enrollments</strong>
</p>

<table class="table">
  <thead>
  <tr>
    <td>Name</td>
    <td>status</td>
  </tr>
  </thead>

  <tbody>
  <% @enrollments.each do |enr| %>
      <tr>
        <td><%= enr.student.name %></td>
        <td><%= enr.estatus %></td>
        <td><%= enr.student_id %></td>
        <td><%= enr.course_id %></td>
        <td><%= link_to 'Edit', edit_enrollment_path(enr) %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
<br>
