<style>
  body {background-color:#2E2F30;}
  h1   {color:white;}
  p    {color:white;}
</style>
<h2> Course Enrollment Details Page</h2>
<p id="notice"><%= notice %></p>


<p>
  <strong>Enrollments</strong>
</p>

<table class="table">
  <thead>
  <tr>
    <td>Name</td>
    <td>status</td>
  </tr>
  </thead>

  <tbody>
  <% @enrollments.each do |enr| %>
      <tr>
        <td><%= enr.user.name %></td>
        <td><%= enr.estatus %></td>
        <td><%= enr.user_id %></td>
        <td><%= enr.course_id %></td>
        <td><%= link_to 'Edit', edit_enrollment_path(enr),class: "btn btn-sm btn-success"  %></td>
        <td><%= link_to 'Destroy', enr, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %></td>

      </tr>
  <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Enrollment to this course', newcourseenrollment_path(1), class: "myButton"  %>
<br>
