<style>
  body {background-color:#2E2F30;}
  h1   {color:white;}
  p    {color:white;}
</style>
<p id="notice"><%= notice %></p>

<p>
  <strong>Grade:</strong>
  <%= @enrollment.grade %>
</p>

<p>
  <strong>Student:</strong>
  <%= @enrollment.user_id%>
</p>

<p>
  <strong>Course:</strong>
  <%= @enrollment.course.title %>
</p>

<%= link_to 'Edit', edit_enrollment_path(@enrollment), class: "myButton"  %> |
<%= link_to 'Back', enrollments_path, class: "myButton"  %>
