<style>
  body {background-color:#2E2F30;}
  h1   {color:white;}
  p    {color:white;}
</style>
<h2> Student Course Enrollment Details </h2>
<p id="notice"><%= notice %></p>


<p>
  <strong>Enrollments</strong>
</p>

<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>status</th>
    <th colspan="3"> Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @enrollments.each do |enr| %>
      <tr>
        <td><%= enr.user.name %></td>
        <td><%= enr.estatus ? 'Enrolled' : 'Enrollment Requested' %></td>
        <!--<td><%= enr.user_id %></td>-->
        <!--<td><%= enr.course_id %></td>-->
        <td><%= link_to 'Edit Enrollment Status/ Grades', edit_enrollment_path(enr),class: "btn btn-sm btn-success"  %></td>
        <td><%= link_to 'Destroy', enr, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %></td>

      </tr>
  <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Enrollment to this course', newcourseenrollment_path(@course_id), class: "myButton"  %>
<br>
