<div class="row">

  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@course) do |f| %>
        <% if @course.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

              <ul>
                <% @course.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <%= f.label :number, class:'form_lable'%><br>
        <%= f.number_field :number, class: 'form-control' %>
        <br>
        <%= f.label :title, class:'form_lable' %><br>
        <%= f.text_field :title, class: 'form-control' %>
        <br>
        <%= f.label :description, class:'form_lable' %><br>
        <%= f.text_field :description, class: 'form-control' %>
        <br>

        <%= f.label :startdate, class:'form_lable' %><br>
        <%= f.date_select :startdate, class: 'form-control' %>
        <br>
        <br>
        <%= f.label :enddate, class:'form_lable' %><br>
        <%= f.date_select :enddate, class: 'form-control' %>
        <br>
        <br>
        <%= f.label :status, class:'form_lable' %><br>
        <%= f.check_box :status, class: 'checkbox' %>
        <br>
        <br>

        <div class="form-group">
          <%= f.label :student_id, class:'form_lable' %><br>


          <%= select("teaches", "user_id", @instructors.collect {|r| [ r.name, r.id ] }, { :include_blank => true }, class: "form-control" )%>
        </div>


        <%= f.submit "Submit", class: "myButton" %>

    <% end %>

  </div>
</div>