<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">

    <%= link_to "Class Portal", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">


        <% if logged_in? %>
            <li><%= link_to "Home",   current_user %></li>
            <li class="divider"></li>
            <% if current_user.type == 'Admin' %>

                <li><%= link_to "Edit Profile", edit_admin_path(current_user )%></li>
            <% elsif current_user.type == 'Instructor'  %>
                <li><%= link_to "Edit Profile", edit_instructor_path(current_user )%></li>

            <% else %>
                <li><%= link_to "Edit Profile", edit_student_path(current_user )%></li>
            <%end%>

              <li class="divider"></li>
            <li> <%= link_to "Log out", logout_path, method: "delete" %>  </li>
        <% else %>
            <li><%= link_to "Home",   root_path %></li>
            <li class="divider"></li>
            <li><%= link_to "Log in", login_path %></li>
        <% end %>

      </ul>
    </nav>
  </div>
</header>